html {
  font-family: "JetBrains Mono", sans-serif;
  background: #000000 linear-gradient(to right, #000000, rgb(5, 0, 40));
  color: aliceblue;
}

* {
  padding: 0;
  margin: 0;
}

.planet {
  z-index: 0;
  width: 100%;
  height: 100%;
}

.title {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  transform: translateY(50%);
  text-align: center;
  white-space: nowrap;
  font-size: 400%;
  font-weight: bold;
  font-family: "JetBrains Mono", sans-serif;
}

section {
  min-height: 100vh;
}

.fade-in {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
  transition: all 3s;
}

.fade-out {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(25%);
  transition: all 3s;
}

@media(prefers-reduced-motion) {
  .fade-in, .fade-out {
    transition: none;
  }
}