@import "colors";

.title-stack {
	position: relative;
	display: inline-block;
	font-size: 2.5rem;
	font-weight: bold;
}

.title-layer {
	position: absolute;
	top: 0;
	left: 0;
	transition: transform 0.3s;
	pointer-events: none;
	letter-spacing: 2px;

	// Used to make sure the title-stack has width & height.
	&.measure {
		position: relative;
		visibility: hidden;
		pointer-events: none;
		display: block;
	}

	&.ghost1 {
		color: var(--flag1);
		z-index: 3;
	}

	&.ghost2 {
		color: var(--flag2);
		z-index: 2;
	}

	&.ghost3 {
		color: var(--flag3);
		z-index: 1;
	}

	&.base {
		z-index: 3;
		pointer-events: auto;
		color: var(--text);
		text-decoration: none;
	}

	.title-stack:hover &.base {
		transform: translate(6px, 6px);
	}

	.title-stack:hover &.ghost1 {
		transform: translate(4px, 4px);
	}

	.title-stack:hover &.ghost2 {
		transform: translate(2px, 2px);
	}
}