@import "colors";
@import "nav_bar";
@import "social_links";

body {
	background: var(--bg);
	color: var(--text);
	font-family: "Lucida Console", monospace;
	margin: 0;
	padding: 0;
}

p {
	margin-left: 25px;
}

a {
	color: var(--link);

	&:hover,
	&:visited:hover {
		color: var(--link-hover);
	}

	&:active,
	&:visited:active {
		color: var(--link-active);
	}

	&:visited {
		color: var(--link-visited);
	}
}

.container {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.center,
.title {
	text-align: center;
}