<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>AlephCubed</title>
    <link rel="stylesheet" href="global.css">
    <script src="global.js"></script>
</head>

<header class="top-nav">
    <div class="container">
        <nav>
            <a href="https://alephcubed.com" class="title-stack">
                <span class="title-layer base measure">AlephCubed</span>
                <span class="title-layer ghost3">AlephCubed</span>
                <span class="title-layer ghost2">AlephCubed</span>
                <span class="title-layer ghost1">AlephCubed</span>
                <span class="title-layer base">AlephCubed</span>
            </a>
            <ul class="nav-links">
                <li><a href="/projects/">Projects</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>


<body>
    <section class="section">
        <div class="container">
            {% block content %} {% endblock content %}
        </div>
    </section>
</body>

</html>