<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% if page is defined %}
            AlephCubed - {{ page.title }}
        {% elif section is defined and section.components | length != 0 %}
            AlephCubed - {{ section.title }}
        {% else %}
            AlephCubed
        {% endif %}
    </title>
    <link rel="stylesheet" href="/base.css">

    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="AlephCubed" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
</head>

<header class="top-nav">
    <div class="container">
        <nav>
            <a href="/" class="title-stack">
                <span class="title-layer base measure">AlephCubed</span>
                <span class="title-layer ghost3">AlephCubed</span>
                <span class="title-layer ghost2">AlephCubed</span>
                <span class="title-layer ghost1">AlephCubed</span>
                <span class="title-layer base">AlephCubed</span>
            </a>
            <ul class="nav-links">
                <li><a href="/project/">Projects</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

<script>
    // Sets the colors of the logo hover effect for specific holidays.
    // 
    // If there is one set of colors, then the same will be used for light vs dark mode, 
    // and a bool can be added as a fourth element to control whether to reverse the order of colors in light mode.
    // 
    // If there is two sets of colors, the first is for dark mode and the second is for light mode.
    //
    // (Gay pride is not present because that is the default theme for the entire site.)
    const holidayThemes = {
        // Canada Day
        "07-01": [["#FF0000", "#CC0000", "#AA0000", true]],
        // Aromantic
        "06-05": [["#ABABA9", "#B1D184", "#59A24E", true]],
        // Asexual
        "06-06": [["#A2A2A2", "#7C267D", "#121212"], ["#A2A2A2", "#7C267D", "#FFFFFF"]],
        // Transgender
        "03-31": [["#63CBF5", "#ADBAD7", "#F9A7B9", false]],
        // Lesbian
        "10-08": [["#F89755", "#D42F27", "#A31F62"], ["#A31F62", "#D461A4", "#F89755"]],
        // Pansexual
        "24-08": [["#4CA9E0", "#ED3086", "#FCD802", false]],
        // Non-binary
        "07-14": [["#8C5EA6", "#A2A2A2", "#FAEE3A", false]],
        // Bisexual
        "09-23": [["#D71970", "#735195", "#1D439C", true]],
    };

    // Get today's MM-DD
    const today = new Date();
    const month = String(today.getMonth() + 1).padStart(2, '0');
    const day = String(today.getDate()).padStart(2, '0');
    const key = `${month}-${day}`;

    // Check for matching holiday
    const theme = holidayThemes[key];
    if (theme) {
        const root = document.documentElement;

        const isDark = window.matchMedia('(prefers-color-scheme: dark)').matches;

        if (theme.length == 1) {
            if (isDark || !theme[0][3]) {
                root.style.setProperty("--ghost1", theme[0][0]);
                root.style.setProperty("--ghost2", theme[0][1]);
                root.style.setProperty("--ghost3", theme[0][2]);
            } else {
                root.style.setProperty("--ghost1", theme[0][2]);
                root.style.setProperty("--ghost2", theme[0][1]);
                root.style.setProperty("--ghost3", theme[0][0]);
            }
        }

        if (theme.length == 2) {
            if (isDark) {
                root.style.setProperty("--ghost1", theme[0][0]);
                root.style.setProperty("--ghost2", theme[0][1]);
                root.style.setProperty("--ghost3", theme[0][2]);
            } else {
                root.style.setProperty("--ghost1", theme[1][0]);
                root.style.setProperty("--ghost2", theme[1][1]);
                root.style.setProperty("--ghost3", theme[1][2]);
            }
        }
    }
</script>

<body>
    <section class="section">
        <div class="container">
            {% block content %} {% endblock content %}
        </div>
    </section>
</body>

</html>