<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="AlephCubed">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if page is defined %}
    <meta name="description" content="{{ page.description }}">
    {% elif section is defined %}
    <meta name="description" content="{{ section.description }}">
    {% else %}
    <meta name="description" content="{{ config.extra.default_description }}">
    {% endif %}

    <title>
        {% if page is defined %}
        AlephCubed - {{ page.title }}
        {% elif section is defined and section.components | length != 0 %}
        AlephCubed - {{ section.title }}
        {% else %}
        AlephCubed
        {% endif %}
    </title>
    <link rel="stylesheet" href="/base.css">
    <meta name="theme-color" content="#121212" />

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="AlephCubed" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
</head>

<header class="top-nav preload">
    <div class="container">
        <nav>
            <a href="/" class="title-stack">
                <span class="title-layer ghost3">
                    {% include "partials/logo.html" %}
                    <span class="text">AlephCubed</span>
                </span>
                <span class="title-layer ghost2">
                    {% include "partials/logo.html" %}
                    <span class="text">AlephCubed</span>
                </span>
                <span class="title-layer ghost1">
                    {% include "partials/logo.html" %}
                    <span class="text">AlephCubed</span>
                </span>
                <span class="title-layer base">
                    {% include "partials/logo.html" %}
                    <span class="text">AlephCubed</span>
                </span>
            </a>
            <ul class="nav-links">
                <li><a href="/project/">Projects</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>


<body>
    <section class="section">
        <div class="container">
            {% block content %} {% endblock content %}
        </div>
    </section>
</body>

<script>
    window.onload = function () {
        var elements = document.getElementsByClassName("preload");
        while (elements.length > 0) {
            elements[0].classList.remove('preload');
        }
    }
</script>

</html>